.body_bg {
    background-color: white;
    border: 1px solid #d3d3d3;
    padding: 25px 25px 25px 25px;
    width : 500px;
    margin-top: 25px;
    margin-left: 25px;
  }

  .PL_Header {
    padding: 5px 30px;
    margin-right: auto;
    width: 100%;
  }
  .header_regpat {
    background-color: white;
    padding: 10px 1px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-style:bold;
    color: black;
    
  }
  .header_basicDetails {
    background-color: rgb(42, 70,89);
    padding: 10px 10px;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  .header_form {
    background-color: white;
    margin-top: 25px;
  }

  .header_element{
    display: flex;
    flex-direction: row;
    background-color: white;
  }

  input[type=text], select {
    padding: 8px 8px;
    margin: 8px 2px 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: content-box;
  }


  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .patients-list-box {
    background: #fff;
    padding: 15px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6 {
  width: 50%;
}

.pull-right {
  float: right !important;
}
button.btn-filled, a.btn-filled {
  border: 2px solid #00c853;
  background: #fff;
  color: #00c853;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 6px 15px;
  min-width: 100px;
  line-height: normal;
}

.asteric{
  color: red;
  font-size: 16px;
  vertical-align: inherit;
}

.form_attrName{
    display: block;
    font-size: 12px;
    color: #000000;
    padding-bottom: 2px;
}

.col_mod_1 {
  width: auto;
}


.form_attrCheckBox {
  font-size: 15px;
  color: #000000;
  padding-bottom: 2px;
  margin-top: 15px;
  margin-left: 5px;
  background-color: white;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 18px 8px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #ccc;
}

.container input:checked ~ .checkmark {
  background-color: rgb(75, 176, 86);
  border: 1px solid white;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}